<app-header title="Formulário de avaliações de produto" [subtitle]="'Avaliação de: ' + item.name" [buttonLink]="'/produtos/' + item.product_id + '/avaliacoes'" buttonText="Voltar"></app-header>
<div class="row mt-3">
    <div class="col-12">
        <app-alert #alert></app-alert>
        <form>
            <input type="hidden" name="id" id="id" [(ngModel)]="item.id">
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="name">Nome</label>
                    <input type="text" name="name" id="name" [ngClass]="isInvalidField('name') ? 'form-control is-invalid' : 'form-control' " [(ngModel)]="item.name">
                </div>
                <div class="form-group col-6">
                    <label for="grade">Nota</label>
                    <input type="number" min="1" max="5" name="grade" id="grade" [ngClass]="isInvalidField('grade') ? 'form-control is-invalid' : 'form-control' " [(ngModel)]="item.grade">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    <label for="comment">Comentário</label>
                    <textarea name="comment" id="comment" [ngClass]="isInvalidField('comment') ? 'form-control is-invalid' : 'form-control' " rows="5" [(ngModel)]="item.comment" ></textarea>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <div class="btn-group float-right">
            <a [routerLink]="'/produtos/' + item.product_id + '/avaliacoes' " class="btn btn-danger">Cancelar</a>
            <button type="button" (click)="save()" class="btn btn-success">Salvar</button>
        </div>
    </div>
</div>